<html lang="en" xmlns:th="http://www.thymeleaf.org"> 
<meta charset="ISO-8859-1">
<title>BILL FORM</title>
<link th:href="@{/css/style.css}" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet"> 
<style>
.formcontainer{width:70%; margin:auto; }
body{ font-family: 'Raleway', sans-serif;}
.entry{width:100%; margin:10px; float:left; display:block;}
.input{height:auto;}
.textarea{height:150px;}
.submissionForm{ margin:2%; padding:2%; font-size:12px;}
.input{width:100%;}
.textarea{width:100%; height:100%;}
.heading{width:100%; height:70px; background-color:#8c8cd9; margin:2%; text-align:center; }
.selecteditems: hover{background-color:#8c8cd9;}
</style>
</head>
<body>
<form method="post" th:object="${addDrug}" th:action="@{/addDrug}">

<label th:for="drugidentity">CHOOSE DRUG</label>
<select name="drugidentity">
     <option th:each="drug: *{druglist}" 
       th:text="${drug.drugname}" th:value="${drug.drugidentity}">
     </option>
</select>

<label th:for="modeid">CHOOSE MODE</label>
<select name="modeid">
     <option th:each="mode: *{modelist}" 
       th:text="${mode.modename}" th:value="${mode.modeid}">
     </option>
</select>

<label th:for="frequencyname">CHOOSE FREQUENCY</label>
<select name="frequencyname">
     <option th:each="frequency: *{frequencylist}" 
       th:text="${frequency.frequencyname}" th:value="${frequency.frequencyname}">
     </option>
</select>

<label>DOSE</label>
    <input type="text" th:field="*{dose}"></input>
    
    
    <label>DURATION</label>
    <input type="text" th:field="*{duration}"></input>
    
    
   <label>ORDER ITEM ID</label>
    <input type="text" th:field="*{orderitemid}"></input> 
<input type="hidden" name="ordernumber" th:value="*{order.ordernumber}">
<input type="submit" value="Add Item">
</form>
</body>
</html>