<html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> 
<meta charset="ISO-8859-1">
<title>BILL FORM</title>
<link th:href="@{/css/style.css}" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet"> 
<style>
.formcontainer{width:70%; margin:auto; text-align:center;padding:2%; }
body{ font-family: 'Raleway', sans-serif;}
.entry{width:100%; margin:10px; float:left; display:block;}
.input{height:auto;}
.textarea{height:150px;}
.submissionForm{ margin:2%; padding:2%; font-size:12px;}
.input{width:100%;}
.textarea{width:100%; height:100%;}
.heading{width:100%; height:70px; line-height:70px; background-color:#8c8cd9; text-align:center; }
.selecteditems: hover{background-color:#8c8cd9;}
</style>
</head>
<body>
<div class="heading">
<p>BILL FORM</p>
</div>
<div class="formcontainer">
<form th:action="@{/fillBill}" th:object="${bill}" method="post">

<div class="entry">
<label>STAFF NUMBER</label>
    <input type="text" th:field="*{user.usernumber}"></input>
    </div><br><br><br><br>
    

<div class="entry">
 <label> BILL NUMBER</label>
    
    <input type="text" th:field="*{billnumber}"></input> 
    </div><br><br><br><br>
    <div class="entry"> 
    <label> DATE</label>
    <input type="date" th:field="*{date}"></input> 
    
          </div>
     
    
    <div class="entry">
 
    
    <input type="hidden" name="patientid" th:value="${patientnumber}"></input>
    </div><br><br><br><br>
    
    <div class="entry">
    </div>
    
    
   
     <div class="entry">    
    <input type="submit" value="SUBMIT"/>  
          </div>         
</form>
</div>
</body>
</html>