<html lang="en" xmlns:th="http://www.thymeleaf.org"> 
<head>
<meta charset="ISO-8859-1">
<title>CONSULTATION FORM</title>
<link th:href="@{/css/style.css}" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet"> 
<style>
.formcontainer{width:70%; margin:auto;text-align:center;padding:2%; }
body{ font-family: 'Raleway', sans-serif;}
.entry{width:100%; margin:10px; float:left; display:block;}
.input{height:auto;}
.textarea{height:150px;}
.submissionForm{ margin:2%; padding:2%; font-size:12px;}
.input{width:100%;}
.textarea{width:100%; height:100%;}
.heading{width:100%; height:70px;line-height:70px;text-align:center; }
</style>
</head>
<body>
<div class="heading">
<p>CONSULTATION FORM</p>
</div>
<div class="formcontainer">
<form th:action="@{/fillDiagnosisForm}" th:object="${diagnosis}" method="POST">
<div class="entry">
    <label>PATIENT NUMBER</label>
    <input type="text"name="patientid" th:value="${patientnumber}"></input>
    </div><br><br><br><br>
    <div class="entry"> 
    <label>DIAGNOSIS NUMBER</label>
    <input type="text" th:field="*{diagnosisnumber}"></input>
    </div><br><br><br><br>
     <div class="entry">
    <label>DATE</label>
    <input type="date" th:field="*{date}"></input>
    </div><br><br><br><br>
    
    
<div class="entry">
<label>CHIEF COMPLAINT</label>
    <textarea th:field="*{complaint}"></textarea>
    </div><br><br><br><br>
    
    <div class="entry">
<label>HISTORY PRESENTING ILLNESS</label>
    <textarea th:field="*{presentingillness}"></textarea>
    </div><br><br><br><br>
    
    <p>GENERAL EXAMINATION</p>
    <div class="entry">
<label>GENERAL EXAM</label>
    <textarea th:field="*{genexam}"></textarea>
    </div><br><br><br><br>
    <p>SYSTEMIC EXAMINATION</p>
     <div class="entry">
    <label>CARDIOVASCULAR</label>
    <textarea th:field="*{cardiovascular}"></textarea>
    </div><br><br><br><br>
    <div class="entry">
    <label>CNS</label>
    <textarea th:field="*{cns}"></textarea>
    </div><br><br><br><br>
    <div class="entry">
    <label>RS</label>
    <textarea th:field="*{rs}"></textarea>
    </div><br><br><br><br>
    
    <div class="entry">
    <label>MS</label>
    <textarea th:field="*{mss}"></textarea>
    </div><br><br><br><br>
    
    <div class="entry">
<label>RECOMMENDATIONS</label>
    <textarea th:field="*{recommendations}"></textarea>
    </div><br><br><br><br>
    

    
    
    <div class="entry">
       
    <input type="submit" value="REGISTER PATIENT"> 
          </div> 
    </form>
    </div>
    